* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.login-containeru {
  width: 420px;
  padding: 40px 30px;
  border-radius: 16px;
  background: rgba(42, 42, 42, 0.95);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  text-align: center;

  border: 1px solid rgba(216, 209, 197, 0.2);
}

.subtitle {
  font-size: 14px;
  color: #7a6a5e;
  margin-bottom: 30px;
}

.toggle-buttons .inactive {
  width: 50%;
  background-color: #8f5924;
  border: none;
  color: white;
  border-radius: 8px;
  height: 50px;
  font-weight: 500;
  cursor: pointer;

  box-shadow: 2px 2px 4px rgba(164, 131, 116, 0.3);
}

.toggle-buttons .active {
  width: 51%;
  background: none;
  border: none;
  color: white;
  height: 50px;
  font-weight: 500;
  cursor: pointer;
}

.login-form {
  text-align: left;
}

.login-form label {
  color: #7a5c4d;
  font-size: 13px;
  margin-bottom: 5px;
  display: block;
}

.login-form .form-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  font-size: 14px;
}

.login-form .form-options label {
  color: #d8d1c5;
}

.login-form .form-options a {
  color: #7a5c4d;
  text-decoration: none;
}
.login-form .form-options a {
  color: #7a5c4d;
  text-decoration: none;
}
